.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;

  &__block {
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &__image {
    width: 500px;
  }
}