.header__text {
  font-size: 20px;
}

.temperature {
  &--h2 {
    font-size: 64px;
    margin: 0;
  }

  &--h3 {
    font-size: 20px;
  }

  &--h4 {
    font-weight: 400;
  }
}

.celsius {
  font-size: 10px;
  margin-top: -0.25px;
}