.forecast {
  background-color: rgba($color: #001026, $alpha: 0.3);
  border-radius: 20px;

  &__date {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
  }

  &__hours {
    display: flex;
    padding-left: 15px;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  &__days {
    font-family: 'Alegreya Sans';
  }

  &__day {
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.block {
  &__detail {
    margin-top: 30px;
    width: auto;
    width: 100%;
    height: auto;
  }
}

.celsius {
  font-size: 10px;
  margin-top: -0.25px;
}


.shadow {
  text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
}

.focus {
  background: rgba(37, 102, 163, 0.2);
  border-radius: 20px;
  border: 1px solid #8EBBFF;
}

.scroll {
  overflow-y: auto;
  max-height: 300px
}

.t {
  display: flex;
  gap: 5px;
}

.dark {
  color: rgba(255, 255, 255, 0.5);
}

.margin {
  &--left {
    margin-left: -18px;
  }

  &--right {
    margin-right: -20px;
  }
}