.night{
  background: #08244F; 
  background: -webkit-linear-gradient(167deg, #08244F, #134CB5,#0B42AB); 
  background: linear-gradient(167deg, #08244F, #134CB5,#0B42AB);
}
.day{
  background: #29B2DD; 
  background: -webkit-linear-gradient(167deg, #29B2DD, #33AADD,#2DC8EA);
  background: linear-gradient(167deg, #29B2DD, #33AADD,#2DC8EA);
}